/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fbf3d3;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c4c484;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
}

.nav-item {
    position: relative; /* Ensure relative positioning for absolute positioning of underline */
    display: inline-block;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: relative;
}

.nav {
    display: flex;
    align-items: center; /* Vertically center items */
}

.cv-btn {
    padding: 10px 20px;
    background-color: #fbf3d3; /* Primary color */
    color: #768e1f; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Push the button to the right */
    font-size: 16px;
}

.cv-btn:hover {
    background-color: #768e1f; /* Darker shade of primary color on hover */
    color: #fbf3d3;
}

/* Underline animation */
.nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust the distance from the text */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fbf3d3; /* Color of the underline */
    transition: width 0.3s ease; /* Animation transition */
}

.nav-link:hover::before {
    width: 100%; /* Full width on hover */
}

/* Section styles */
.section {
    padding: 50px;
}

.section-title {
    margin-bottom: 20px;
}

.section-content {
    line-height: 1.6;
}

h2.section-title {
    text-align: center;
    font-size: 2em;
}

/* Footer styles */
.footer {
    background-color: #c4c484;
    color: #000;
    text-align: center;
    padding: 20px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Aside styles */
.aside {
    width: 160px; /* Adjust width as needed */
    background-color: #c4c484; /* Sidebar background color */
    color: #000; /* Sidebar text color */
    position: fixed;
    top: 95px; /* Adjust top position according to your header height */
    bottom: 50px; /* Adjust bottom position according to your footer height */
    left: 0;
    overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers */
.aside::-webkit-scrollbar {
    display: none;
}

.aside-nav {
    padding-left: 20px; /* Adjust left padding as needed */
}

.aside-list {
    list-style: none;
}

.aside-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}

.aside-link:hover {
    background-color: #fbf3d3; /* Hover background color */
    color: #768e1f;
}

/* Main content styles */
.main-content {
    margin-left: 220px; /* Adjust margin-left to accommodate aside width */
}


/* HOME SECTION STYLES */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Adjust font sizes */
.home-container p {
    font-size: 1.2em; /* Adjust the font size of paragraphs */
}

.home-container h1 {
    font-size: 2em; /* Adjust the font size of headings */
}

.home-container img {
    border-radius: 50%;
    width: 400px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    margin-right: 20px;
}


/* ABOUT SECTION STYLES */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    margin-right: 20px; /* Add margin between image and text */
}

.about-image img {
    height: 350px;
    width: 350px;
    border-radius: 5%;
}

.about-text {
    max-width: 600px; /* Adjust the max-width as needed */
}

.about-container-2 {
    display: flex;
    justify-content: space-between;
}

.about-details-container,
.about-goals-container {
    width: 45%;
    background-color: #768e1f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Add a custom easing effect */

}

.about-details-container {
    margin-right: 5%;
}

.about-details-container:hover,
.about-goals-container:hover {
    transform: translateY(-5px) scale(1.05); /* Scale up and move up slightly */
}

/* AFFILIATIONS SECTIONS STYLES */
.affiliations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two containers per row */
    gap: 20px; /* Space between the containers */
}

.affiliation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #768e1f; /* Background color */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.affiliation-item img {
    width: 80%; /* Ensure the image fills the container */
    border-radius: 5px;
    transition: transform 0.3s ease; /* Add transition effect */
    max-width: 100%; /* Set maximum width */
    max-height: 100%; /* Set maximum height */
}


.affiliation-item img:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
}

.affiliation-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.affiliation-item p {
    margin-top: 5px;
}

.affiliation-item a {
    display: block;
    margin-top: 10px;
}

.view-full-image-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fbf3d3;
    color: #768e1f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-full-image-btn:hover {
    background-color: #768e1f; /* Darker shade on hover */
    color: #fff;
}

/* SKILLS SECTION STYLES */
.skills-container {
    margin-bottom: 20px;
}

h2.skills-title {
    text-align: center;
}

.progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress {
    background-color: #768e1f;
    color: white;
    height: 100%;
    text-align: center;
    line-height: 20px; /* Center the text vertically */
}

#progress1 {
    animation: progressAnimation1 3s linear forwards; /* Animation duration: 3s */
}

#progress2 {
    animation: progressAnimation2 3s linear forwards; /* Animation duration: 3s */
}

#progress3 {
    animation: progressAnimation3 3s linear forwards; /* Animation duration: 3s */
}

#progress4 {
    animation: progressAnimation4 3s linear forwards; /* Animation duration: 3s */
}

#progress5 {
    animation: progressAnimation5 3s linear forwards; /* Animation duration: 3s */
}

#progress6 {
    animation: progressAnimation5 3s linear forwards; /* Animation duration: 3s */
}

@keyframes progressAnimation1 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 75%; /* End with 80% width */
    }
}

@keyframes progressAnimation2 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 40%; /* End with 50% width */
    }
}

@keyframes progressAnimation3 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 30%; /* End with 30% width */
    }
}

@keyframes progressAnimation4 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 40%; /* End with 40% width */
    }
}

@keyframes progressAnimation5 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 60%; /* End with 60% width */
    }
}

@keyframes progressAnimation6 {
    0% {
        width: 0; /* Start with 0% width */
    }
    100% {
        width: 40%; /* End with 60% width */
    }
}

.images-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

.image-item {
    text-align: center;
    flex-basis: calc(25% - 20px); /* Adjust as needed */
    margin: 0 10px; /* Adjust as needed */
}

.image-item img {
    max-width: 80%;
    height: auto;
}

.carousel {
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center the carousel */
}

.carousel img {
    width: 100%; /* Make sure images fill the entire carousel container */
    height: auto; /* Maintain aspect ratio */
}

/* PROJECTS SECTION STYLES */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: calc(33.33% - 20px); /* Adjust as needed for 3 items per row */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #768e1f;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.3s ease; /* Add transition effect */
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-details {
    margin-top: 10px;
}

.project-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-details p {
    margin-bottom: 5px;
}

.project-link {
    display: inline-block;
    background-color: #fbf3d3;
    color: #768e1f;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.project-link:hover {
    background-color: #768e1f;
    color: #fff;
}

/* Add hover effect */
.project-item:hover {
    transform: translateY(-5px); /* Move the container up */
}




/* Media query for smaller screens */
@media (max-width: 768px) {
    .aside {
        display: none; /* Hide aside on smaller screens */
    }

    .main-content {
        margin-left: 0; /* Reset margin-left for main content */
    }
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-list.active {
        display: block;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        margin-top: 20px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 10px 0; /* Adjust margin for spacing between nav items */
    }

    .main-content {
        margin-left: 0;
    }

    .aside {
        display: none;
    }
}
