/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fbf3d3;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c4c484;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
}

.nav-list {
    list-style: none;
}

.nav-item {
    position: relative; /* Ensure relative positioning for absolute positioning of underline */
    display: inline-block;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: relative;
}

.nav {
    display: flex;
    align-items: center; /* Vertically center items */
}

.cv-btn {
    padding: 10px 20px;
    background-color: #fbf3d3; /* Primary color */
    color: #768e1f; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Push the button to the right */
    font-size: 16px;
}

.cv-btn:hover {
    background-color: #768e1f; /* Darker shade of primary color on hover */
    color: #fbf3d3;
}



/* Underline animation */
.nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust the distance from the text */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fbf3d3; /* Color of the underline */
    transition: width 0.3s ease; /* Animation transition */
}

.nav-link:hover::before {
    width: 100%; /* Full width on hover */
}

/* Section styles */
.section {
    padding: 50px;
}

/* Additional styles */
.section-title {
    margin-bottom: 20px;
}

.section-content {
    line-height: 1.6;
}

h2.section-title {
    text-align: center;
}

/* Footer styles */
.footer {
    background-color: #c4c484;
    color: #000;
    text-align: center;
    padding: 20px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Aside styles */
.aside {
    width: 150px; /* Adjust width as needed */
    background-color: #c4c484; /* Sidebar background color */
    color: #000; /* Sidebar text color */
    position: fixed;
    top: 95px; /* Adjust top position according to your header height */
    bottom: 50px; /* Adjust bottom position according to your footer height */
    left: 0;
    overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers */
.aside::-webkit-scrollbar {
    display: none;
}

.aside-nav {
    padding-left: 20px; /* Adjust left padding as needed */
}

.aside-list {
    list-style: none;
}

.aside-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}

.aside-link:hover {
    background-color: #fbf3d3; /* Hover background color */
    color: #768e1f;
}

/* Main content styles */
.main-content {
    margin-left: 220px; /* Adjust margin-left to accommodate aside width */
}


/* HOME STYLES */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Adjust font sizes */
.home-container p {
    font-size: 1.2em; /* Adjust the font size of paragraphs */
}

.home-container h2 {
    font-size: 2em; /* Adjust the font size of headings */
}

.home-container img {
    border-radius: 50%;
    width: 400px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    margin-right: 20px;
}


/* ABOUT STYLES */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    margin-right: 20px; /* Add margin between image and text */
}

.about-image img {
    height: 350px;
    width: 350px;
    border-radius: 5%;
}

.about-text {
    max-width: 600px; /* Adjust the max-width as needed */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .aside {
        display: none; /* Hide aside on smaller screens */
    }

    .main-content {
        margin-left: 0; /* Reset margin-left for main content */
    }
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-list.active {
        display: block;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        margin-top: 20px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 10px 0; /* Adjust margin for spacing between nav items */
    }

    .main-content {
        margin-left: 0;
    }

    .aside {
        display: none;
    }
}
